.content{
  background-color: #111;
  color: #FFF;
}
.bg-dark{
  background-color: #141414 !important;
}
.navbar-collapse{
  flex-grow: 0;
}
.nav-item{
  cursor:pointer;
  margin-top:14px;
  margin-right:10px;
}


.navbar-dark .navbar-nav .nav-link{
  color:#d7d7d7;
}


.nav-item:nth-child(3){
  margin-top:3px;
}

#search{
  color: #111;
  padding-left: 100;
  padding-right: 100;
}

#logo {
   background-image: url("../../images/logoys.png");
   width: 250px;
   height:45px;
   /* display: inline-block; */
   background-repeat: no-repeat;


   /* width: 50%; */
   display: inline-block;
   margin-top: 10px;
   margin-bottom: 5px;
   margin-left:30px;
   font-size: 24px;
   font-weight: bold;
   color: #cc0411;
   padding-right: 150px;
}
