.content{
  background-color: #111;
  color: #FFF;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.header {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  background-color: #141414;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

ul.header li a:hover {
  color: #5b5757;
}

.logoutBtn{
  /* position: absolute;
  right: 0; */
}


#search{
  color: #111;
  padding-left: 100;
  padding-right: 100;
}

#logo {
   font-size: 24px;
   font-weight: bold;
   color: #cc0411;
   padding-right: 150px;
}
