ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.header {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  background-color: #141414;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

<<<<<<< HEAD
ul.header li a:hover:not(.active) {
  background-color: #5b5757;
=======
ul.header li a:hover {
  color: #5b5757;
>>>>>>> adb27e08a9edb2c134c0ed1289c74c94311a8ca5
}

#search{
  color: #111;
  padding-left: 100;
  padding-right: 100;
}

#logo {
   font-size: 24px;
   font-weight: bold;
   color: #cc0411;
   padding-right: 150px;
}
