.seriesItemDetails{
  color: #fff;
}

.seriesImg{
  cursor:pointer;
  width: 100%;
  height: auto;
}

#similarSeriesLabel{
  border-bottom: 1px solid #fff;
}

 .pageLook {
	 color: #d7d7d7;
 }
 
 .genresDisplay{
	 display: block;
 }