.genresContainer{
  width: 140px;
  height: 100%;
  font-family: Helvetica, sans-serif;
  color: #fff;
  font-size: 13px;
  background-color: #141414
 }

.genre{
  cursor: pointer;
  padding: 10px;
}

.genre:hover{
  color: #5b5757;
}
